.almendra-sc-regular {
 
  font-weight: 400;
  font-style: normal;
}

.correct.btn {
    background-color: green;
}

.incorrect {
    background-color: red;
}



h1 {
   
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

h2 {
   
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 700px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

    
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.quiz {
    width: 50%;
    max-width: 1000px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    text-align: center;
   
    border: 2px solid black;
    padding: 10px;
    background-color: #f0f0f0;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 553.1px;
}

.btn {
   
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;   
    height: 50px;
}

.btn:hover {
    border: 3px solid black;
}

#next-btn {
   
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
     
    
}

#next-btn:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.btn:disabled {
    color: white;
}

nav {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: black;
}

.selected {
    border: 3px solid black;
}

 a {
    color: black
 }

 a:hover {
    color: blue;
 }

@media screen and (max-width: 600px) {

    .quiz {
        min-width: 275px;
        margin-top: 5px;
    }

    .btn {
        max-width: 225px;
        font-size:11px
    }

    h2 {
        max-width: 250px;
        font-size: 14px
    }

    body {
        max-width: fit-content;
        
        
    }

    #nav {
        background-color: white;
        
    }

    h1 {
        margin-top: 10px;
    }

     a {
    color: black
 }
}